@import "../base/colors.scss";

.heart-icon{
	position: absolute;
	width: 24px;
	height: 24px;
	right: 20px;
	font-size: 24px;
}



.heart-empty{	
	z-index: 0;
	opacity: 1;
}



.heart-full{
	z-index: 0;
	  opacity: 0;
	  background: -webkit-gradient(linear, left top, left bottom, from($purple, to($pink)));
	  background: -o-linear-gradient($purple, $pink);
	  background: linear-gradient($purple, $pink);
	  -webkit-background-clip: text;
	          background-clip: text;
	  -webkit-transition: 1s;
	  -o-transition: 1s;
	  transition: 1s;
	  color: transparent;
	
		

	&:hover{
		opacity: 1;	
	}

	&:hover ~ .heart-empty{
		opacity: 0;
	}
}

.heart-empty__menu{
	top: 10px;
	right: 0;
}

.heart-full__menu{
	top: 8px;
	right: 0;
}






