@import "../utils/keyframes.scss";
@import "../base/colors.scss";


.bg-loader{
	background: $transparent-grey;
	position: absolute;
	animation: disparition 3s forwards;
	width: 100%;
	height: 100%;
	top:0;
    display: flex;
    justify-content: center;	
}


.finalLoader{
	width: 200px;
	height: 200Px;
	position: relative;
	top:350px;
}


$left:45px;
$top:45px;
$W:110px;
$H:110px;



@for $i from 1 through 4{
	.loader#{$i}{
		width : $W - 10px;
		height: $H - 10px;
		top : $top + 5px;
		left: $left + 5px;
	}
	$W:$W - 10px;
	$H:$H - 10px;
	$top:$top + 5px;
	$left:$left + 5px;
}

.loader{
	border: 5px solid transparent;
	border-top: 5px solid $purple;
	border-radius: 50%;
	position: absolute;
}

.loader1{
	border-top: 5px solid $pink;
	animation: spin 1s linear infinite;				
}

.loader2{
	animation: spin-reverse 1s linear infinite;			
}


.loader3{
	animation: spin 1s linear infinite;				
}



.loader4{
	border-top: 5px solid $pink;
	animation: spin-reverse 1s linear infinite;
}