@-webkit-keyframes rollIn {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rollIn {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes apparition {
  0% {
    right: -100px;
  }
  100% {
    right: 0px;
  }
}

@keyframes apparition {
  0% {
    right: -100px;
  }
  100% {
    right: 0px;
  }
}

@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes disparition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -50;
  }
}

@keyframes disparition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -50;
  }
}

.bg-loader {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  -webkit-animation: disparition 3s forwards;
          animation: disparition 3s forwards;
  width: 100%;
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.finalLoader {
  width: 200px;
  height: 200Px;
  position: relative;
  top: 350px;
}

.loader1 {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
}

.loader2 {
  width: 90px;
  height: 90px;
  top: 55px;
  left: 55px;
}

.loader3 {
  width: 80px;
  height: 80px;
  top: 60px;
  left: 60px;
}

.loader4 {
  width: 70px;
  height: 70px;
  top: 65px;
  left: 65px;
}

.loader {
  border: 5px solid transparent;
  border-top: 5px solid #9356DC;
  border-radius: 50%;
  position: absolute;
}

.loader1 {
  border-top: 5px solid #FF79DA;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

.loader2 {
  -webkit-animation: spin-reverse 1s linear infinite;
          animation: spin-reverse 1s linear infinite;
}

.loader3 {
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

.loader4 {
  border-top: 5px solid #FF79DA;
  -webkit-animation: spin-reverse 1s linear infinite;
          animation: spin-reverse 1s linear infinite;
}
/*# sourceMappingURL=loader.css.map */