$purple:#9356DC;
$pink:#FF79DA;
$green:#99E2D0;

$light-grey:#F6F6F6;
$medium-grey:#EAEAEA;
$dark-grey: #353535;
$grey-icon:#878787;


$transparent-grey: rgba(0,0,0,0.5);


$shadow-light : #b8b4b4;
$shadow-dark : darken(#b8b4b4, 15%);


$light-purple:lighten($purple, 1%);
$light-pink:lighten($pink, 1%);

$ultra-light-purple:#f5edff;


$dark-green: #179475;


