@font-face {
	font-family: "Roboto";
    src: url("Maquettes_Ohmyfood/roboto/Roboto-Regular.ttf");	
}

@font-face {
	font-family: "Roboto-Thin";
    src: url("Maquettes_Ohmyfood/roboto/Roboto-Thin.ttf");
}

@font-face {
	font-family: "Roboto-Light";
    src: url("Maquettes_Ohmyfood/roboto/Roboto-Light.ttf");
}

@font-face {
	font-family: "Roboto-Medium";
    src: url("Maquettes_Ohmyfood/roboto/Roboto-Medium.ttf");
}

@font-face {
	font-family: "Roboto-Black";
    src: url("Maquettes_Ohmyfood/roboto/Roboto-Black.ttf");
}

@font-face {
	font-family: "Roboto-Bold";
    src: url("Maquettes_Ohmyfood/roboto/Roboto-Bold.ttf");	
}

@font-face{
	font-family: "Roboto-BoldCondensed";
    src: url("Maquettes_Ohmyfood/roboto/Roboto-BoldCondensed.ttf");
}
