@media screen and (min-width:750px){

    .button-step{
        
        display: flex;
        width: 500Px;
     
        text-align: center;
        padding: 0 30px;
        position: relative;
    }

    .icon-step{
       
       position: absolute;
       left: 40px;
       top:22px;
       font-size: 18px;
       

    }

    .text-step{
       
        
        display: block;
        width: 100%;
    }


    .restaurants__choices{
        
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
        
        flex-direction: inherit;

    }

    .restau-box{
        width: 300Px;
        margin: 20Px;
    }

    .bg-menu{
        
        left: 10%;
        top:0;

        
    }


    .ds{
        width: 30%;
    }

    .pg{}

    .alf{}

    .ne{}


    .footer__links-box{

        margin-left: 30px;
    }
    

    
}



@media screen and (min-width:1220px){

    .menu{
        display: flex;
        flex-direction: inherit;
        align-items: baseline;

        
    }

    .menu-part{
        margin: 20px;
    }

    .menu__heading{
        width: 20%;
    }

    .footer__logo{
        margin-left: 30px;
    }

}