@keyframes rollIn {
    0% {
      transform: rotate(-180deg);
    }
    100% {
      transform: rotate(0deg);
    }
}
  

@keyframes apparition {
    0% {
      right: -100px;
    }
  
    100% {
      right: 0px;
    }
}
  

@keyframes slideUp{
    from{
        transform:translateY(10px);
        opacity: 0;
    }

    to{
        transform:translateY(0);
        opacity: 1; 
    }
}



@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

@keyframes spin-reverse {
  0% { transform: rotate(360deg);}
  100% { transform: rotate(0deg);}
}

@keyframes disparition {
0% { opacity:1;}

  100% { opacity: 0; z-index: -50;}
}