@function defImg($longueur,$large){
    $resultat:0;
    @if $large < $longueur{
        $resultat : $longueur / $large;
    }
    @else{
        $resultat : $large / $longueur;
    }

    @return $resultat;
}

